.customizer {
  border: solid 1px #aaa;
  padding: 8px;
  background-color: #fff;
}



.customizer input {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.customizer input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.v-application--wrap {
  height: auto !important;
  min-height: auto !important;
}



.vue-slider-ui-container .v-application {
  padding-top: 4rem;
}

.vue-slider-ui-container .min-value,
.vue-slider-ui-container .max-value {
  display: none;
}

.customizer .parameter {
  display: none;
}